
  
 .cookie-banner {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #f5f5f5;
  padding: 10px;
  text-align: center;
}

.cookie-banner p {
  margin: 0;
  font-size: 14px;
  line-height: 1.5;
}

.cookie-banner a {
  color: #eaafc8;
}
.cookie-banner button:hover {
  color: rgb(143, 20, 71);
}

.cookie-banner button {
  background-color: #eaafc8;
  border: none;
  color: #fff;
  padding: 10px;
  font-size: 14px;
  cursor: pointer;
}

  body {
    background: #eaafc8;
    background: -webkit-linear-gradient(to right, #f11515, #7c6f35);
    background: linear-gradient(to right, #9c6c80, #48357c);
    min-height: 100vh;
  }
  
  code {
    color: #745eb1;
    background: #fff;
    padding: 0.1rem 0.2rem;
    border-radius: 0.2rem;
  }
  
  .text-uppercase {
    letter-spacing: 0.08em;
  }
  .container-fluid {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
  }
  .lead {
font-size: 1.25rem;
font-weight: 600;
line-height: 1.5;
}
li > a{
    text-decoration: none;
    color: white;
}
li > a:hover{
  color: black;
}
