/*
*
* ==========================================
* CUSTOM UTIL CLASSES
* ==========================================
*
*/










body {
    background: #eaafc8;
    background: -webkit-linear-gradient(to right, #9c6c80, #48357c);
    background: linear-gradient(to right, #9c6c80, #48357c);
    min-height: 100vh;
  }





.text-small {
    font-size: 0.9rem !important;
}

